:root{
  --primary-color: #5051F9;
  --primary-background: #F3F6FD;
}

body{
  font-family: 'Comfortaa';
  background-color: var(--primary-background);
}

.window{
  display: flex;
  flex-direction: row;
  position: relative;
}

.navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100vh;
  background: #FBFAFF;
}

.navigation_logo{
  width: 100px;
}

.navigation_logoLink{
  margin: 20px 0 50px 0;
}

.navigation_list{
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 35px;
}

.btn{
  background-color: #FFF;
  height: 69px;
  width: 69px;
  border-radius: 14px;
  box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
  cursor: pointer;
  border: none;
}

.addBtn{
  background-color: #FFF;
  height: 69px;
  width: 69px;
  border-radius: 14px;
  cursor: pointer;
  border: 1px solid #CAD5FF;
}

.addBtn img {
  height: 50%;
}

.btn:hover{
  background-color: var(--primary-color);
  transition: 0.2s;
}

.addBtn:hover{
  background-color: #E3E9FF;
  transition: 0.2s;
}

.btn:hover img{
  filter: brightness(0) invert(1);
  transition: 0.2s;
}

.btn img{
  height: 50%;
}

.btn_active{
  background: var(--primary-color);
}

.btn_active img {
  filter: brightness(0) invert(1);
}

.content{
  min-width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 45px;
}

#header{
  font-size: 40px;
}

.progress{
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}

.progress_text{
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.progress_name{
  color: #232360;
  font-size: 14px;
  font-weight: 400;
}

.progress_percent{
  color: #768396;
  font-size: 14px;
  font-weight: 400;
  align-self: center;
}

.progress_bar{
  background-color: #E6E9ED;
  min-width: 235px;
  height: 5px;
  border-radius: 4px;
  position: relative;
}

.progress_coverBar{
  position: absolute;
  transition: all 0.5s;
  height: 5px;
  border-radius: 4px;
  background-color: var(--primary-color);
}

.dayFlow{
  height: 80vh;
}

.massage{
  display: flex;
  align-items: center;
  background-color: #FFF;
  border-radius: 10px;
  margin-bottom: 12px;
}

.massage_day{
  min-width: 110px;
  background-color: #edeafe;
  border-right: 1px solid #d5d3de;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
}

.massage_comment{
  color: #23235F;  
  font-size: 16px;
  padding: 20px 25px;
}

.massage_delete{
  display: flex;
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.massage_delete img{
  align-self: center;
  padding: 5px 0;
}

.massage_delete:hover{
  background-color: #e0e7f0;
}

.massage_form{  
  width: 100%;
  margin-left: 24px;
  display: flex;
  position: relative;
}

.msg_form{
  width: 60vw;
}

.massage_form input{
  min-width: 80%;
  border: 1px solid #E7EBFB;
  font-family: 'Comfortaa';
  background: #FFF;
  font-size: 16px;
  border-radius: 9px;
  padding: 12px 48px;
  outline-color: blue;
}

input.error{
  border: 1px solid red;
}

.massage_commentImg{
  position:absolute;
  top: 12px;
  left: 20px;
}

.massage_form input::placeholder{
  color: #8899A8;
}

.massage_accept{
  cursor: pointer;
  border-radius: 9px;
  background: #EDECFE;
  border: none;
  padding: 14px 30px;
  margin-right: 5px;
  font-family: "Comfortaa";
  color: var(--primary-color);
}

.massage_accept:hover{
    background: #dfdeff;
}

.cover{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover_active{
  display: none;
}

.habbitInputs input {
  min-width: 90%;
  border: 1px solid #E7EBFB;
  font-family: 'Comfortaa';
  background: #FFF;
  font-size: 16px;
  border-radius: 9px;
  padding: 12px 24px;
  outline-color: blue;
}

.popup{
  min-width: 532px;
  border-radius: 10px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.popup__header{
  font-size: 30px;
  margin-top: 27px;
  margin-bottom: 22px;
}

.chooseIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icn{
  margin-bottom: 13px;
}

.btnIcons{
  display: flex;
  gap: 25px;
  margin-bottom: 18px;
}

.habbitInputs{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 17px;
}

.acceptBtn{
  align-self: center;
  max-width: 160px;
  height: 50px;
  cursor: pointer;
  border-radius: 9px;
  background: #EDECFE;
  border: none;
  font-size: 15px;
  padding: 14px 30px;
  font-family: "Comfortaa";
  color: var(--primary-color);
  margin-top: 10px;
}

.popupForm{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 43px;
}

.crossBtn{
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

